.navbar{
    background-color: #000000;
    color: #FF5A23;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 3px solid #FF5A23;
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
}

.img{
    width: 52px;
    margin: 10px 30px;
}

.ONtitle{
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
}

@media(max-width: 700px){
    .ONtitle{
        font-size: 20px;
}
}