button{
    box-sizing: border-box;
    background-color: #ff5a23;
    border-radius: 20px;
    width: 100px;
    height: 48px;
    margin: 10px;
    border-bottom: solid #ff3200 3px;
    border-right: solid #ff3200 3px;
    border-left: 0px;
    border-top: 0px;
    color: #fff;
    font-size: 21px;
    cursor: pointer;
}

button:hover{
    border-color: #e9973A;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(233, 151, 58 , 0.25);
}