.homeMain{
    margin-top: 83px;
    background-color: rgba(32,32,32, 0.98);
    height: calc(100% - 203px);
}

.h1Home{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 38px;
}

.pHome{
    padding-top: 10px;
    padding-left: 20px;
}

.themeContainer{
    margin-top: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 25% 25% 25%;
}

.card{
    color: #FF5a23;
    border-radius: 10px;
    border:1px solid #FF5a23 ;
    width: 300px;
    background-color: rgb(32,32,32);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.taskContainer{
    display: grid;
    grid-template-columns: 100%;
}

p.itemDescr{
    padding: 0;
    margin: 0;
    width: 90%;
    text-align: center;
    color:#e9973A
}

div.Backlog,div.Done,div.Doing{
    width: 30vw;
    font-size: 14px;
}

.Backlog{
    color:blueviolet
}

.Doing{
    color: yellow;
}
div.Doing{
    margin-left: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Done{
    color: chartreuse
}

.add{
    width: 25px;
    height: 25px;
    border-radius: 80%;
    border: 0px;
}