.homeMain{
    margin-top: 83px;
    background-color: rgba(32,32,32, 0.98);
    min-height: calc(100vh - 203px);
}

.h1Home{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 38px;
}

.pHome{
    padding-top: 10px;
    padding-left: 20px;
    word-wrap: break-word;
}

.themeContainer {
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 15px;
}

.card{
    color: #FF5a23;
    border-radius: 10px;
    border:1px solid #FF5a23 ;
    background-color: rgb(32,32,32);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.taskContainer{
    display: grid;
    grid-template-columns: 100%;
    margin-left: 3%
}

p.itemDescr{
    padding: 0;
    margin: 0;
    width: 90%;
    text-align: center;
    color:#e9973A
}

b{
    text-align: center;
    text-justify: center;
}

.itemTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.Fazer,div.Feito,div.Fazendo{
    width: 30vw;
    font-size: 14px;
}

.Fazer{
    color:lightblue
}

.Fazendo{
    color: yellow;
}
div.Fazendo{
    margin-left: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Feito{
    color: chartreuse
}
div.Feito{
    margin-left: 60vw;
}

.add{
    width: 25px;
    height: 25px;
    border-radius: 80%;
    border: 0px;
}

.cardForm{
    width: 100%
}

.cancel{
    position: relative;
    right: -40px;
}

.divForm{
    display: flex;
    flex-direction: row;
    width: 30vw;
}

.cardButtons{
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
}


.button{
    box-sizing: border-box;
    background-color: #ff5a23;
    border-radius: 20px;
    width: 100px;
    height: 48px;
    margin: 10px;
    border-bottom: solid #ff3200 3px;
    border-right: solid #ff3200 3px;
    border-left: 0px;
    border-top: 0px;
    color: #fff;
    font-size: 21px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button:hover{
    border-color: #e9973A;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(233, 151, 58 , 0.25);
}

@media(max-width: 900px){
    .h1Home{
        font-size: 16px;
    }

    .itemTitle{
        flex-direction: column;
    }

    .themeContainer{
        grid-template-columns: 45% 45%;
    }
}

@media(max-width: 700px){
    .h1Home{
        font-size: 16px;
    }

    .themeContainer{
        margin-left: 2%;
        grid-template-columns: 98%;
        align-items: center;
    }

    div.Feito, div.Fazendo, div.Fazer{
        margin: 2%;
        width: 96%
    }

    .back{
        justify-self: center;
    }

}